In [ ]:
# 1. Install Packages

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /home/rita/anaconda3/lib/python3.7/site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in /home/rita/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: importlib-metadata in /home/rita/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (3.10.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /home/rita/anaconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy) (3.10.0.0)
Requirement already satisfied: zipp>=0.5 in /home/rita/anaconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.4 MB)
     |████████████████████████████████| 3.4 MB 2.1 MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import sqlalchemy

In [ ]:
# 2. Create the engine

In [9]:
HOST = 'localhost' # computer hosting your database
PORT ='5433'      # the usual port we use for postgres
DATABASE = 'northwind'  
USER = 'postgre'
PASSWORD = '110393ars'

In [2]:
uri= 'postgresql://postgres:110393ars@localhost/northwind'

In [3]:
from sqlalchemy import create_engine

engine = create_engine(uri, echo=False)

In [4]:
engine = sqlalchemy.create_engine(uri, echo=False)

In [5]:
engine

Engine(postgresql://postgres:***@localhost/northwind)

In [13]:
query = '''
CREATE TABLE movies (
movie VARCHAR(50),
genre VARCHAR(50),
score INT);'''

In [14]:
engine.execute(query)

In [9]:
#query1 = '''DROP TABLE movies'''

In [10]:
#engine.execute(query1)

In [15]:
insert_query = '''INSERT INTO movies VALUES ('Titanic', 'Drama', 3)'''
insert_query2 = '''INSERT INTO movies VALUES ('Green Mile', 'Drama', 4)'''
insert_query3 = '''INSERT INTO movies VALUES ('Transformer', 'Action', 2)'''
insert_query4 ='''INSERT INTO movies VALUES('The Gentleman', 'All in one', 9)'''
insert_query5 ='''INSERT INTO movies VALUES('John Wick', 'All in One', 10)'''

In [16]:
engine.execute(insert_query3)
engine.execute(insert_query4)
engine.execute(insert_query5)

In [17]:
engine.execute(insert_query)
engine.execute(insert_query2)

In [18]:
query = 'SELECT * FROM movies LIMIT 3;'

In [19]:
pd.read_sql(query, engine)

           movie       genre  score
0    Transformer      Action      2
1  The Gentleman  All in one      9
2      John Wick  All in One     10

In [20]:
query = '''
        select * from movies
        WHERE score = 2;'''
pd.read_sql(query, engine)

         movie   genre  score
0  Transformer  Action      2

In [ ]:
# Inspect sqlelements of your DB

In [21]:
from sqlalchemy import inspect

In [22]:
inspector = inspect(engine)

In [23]:
dics_columns = inspector.get_columns('movies')
dics_columns

[{'name': 'movie',
  'type': VARCHAR(length=50),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'genre',
  'type': VARCHAR(length=50),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'score',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None}]

In [24]:
inspector.get_table_names()

['employee_territories',
 'orders',
 'employees',
 'regions',
 'categories',
 'order_details',
 'shippers',
 'products',
 'suppliers',
 'customers',
 'territories',
 'movies']

In [25]:
results = engine.execute('SELECT * FROM movies')

In [26]:
result.fetchall()

NameError: name 'result' is not defined

In [27]:
# save the results on a data frame

In [28]:
df = pd.DataFrame(results, columns=['movie', 'genre', 'score'])
df

           movie       genre  score
0    Transformer      Action      2
1  The Gentleman  All in one      9
2      John Wick  All in One     10
3        Titanic       Drama      3
4     Green Mile       Drama      4

In [ ]:
# use to_sql

In [29]:
df_l = pd.read_csv('large_countries_2015.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'large_countries_2015.csv'