In [ ]:
### CRUD method with lists

In [9]:
#Create a new list

SM= ['coffee', 'water', 'apples', 'fish', 'cheese']
SM

['coffee', 'water', 'apples', 'fish', 'cheese']

In [7]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
[x** 2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
a = 'abcd'
b = 'efgh'
for c1,c2 in zip(a,b): 
    print(c1,c2)

a e
b f
c g
d h

In [11]:
data = []
for c1,c2 in zip(a,b):
    print(c1,c2)
    data.append(c1)
    data.append(c2)

a e
b f
c g
d h

In [14]:
#Read (select) items from a list
SM[0:2]

['coffee', 'water']

In [13]:
SM[0]

'coffee'

In [16]:
if 'apples' in SM: print('Apple')

Apple

In [17]:
#Update the list with new data
SM.insert( 0, 'bread')
SM

['bread', 'coffee', 'water', 'apples', 'fish', 'cheese']

In [19]:
SM[3]='pears'
SM

['bread', 'coffee', 'water', 'pears', 'fish', 'cheese']

In [21]:
SM.sort()
SM

['bread', 'cheese', 'coffee', 'fish', 'pears', 'water']

In [23]:
#Delete an item from a list
SM.remove('bread')
SM

['cheese', 'coffee', 'fish', 'pears']

In [24]:
SM.pop()
SM

['cheese', 'coffee', 'fish']

In [25]:
shopping = []
shopping.append(SM)
shopping.append(['banana','banana','banana'])
shopping

[['cheese', 'coffee', 'fish'], ['banana', 'banana', 'banana']]

In [26]:
SM.remove('coffee')
SM

['cheese', 'fish']

In [27]:
shopping

[['cheese', 'fish'], ['banana', 'banana', 'banana']]

In [ ]:
# lists: sorting, slicing, do something in each element
# dictionaries: looking up things quickly, replacing elements, mapping elements to others, counting stuff

In [28]:
### CRUD method with dictionaries

#Create 
d = {'fox':'Fuchs', 'dog':'Hund'}

In [41]:
#option2:df.to_dict()
#option3:read a JSON file
#option4
dict([('a':1),('b':3)])

SyntaxError: invalid syntax (<ipython-input-41-9656dfa9c04e>, line 4)

In [ ]:
# Read

In [31]:
d.values()

dict_values(['Fuchs', 'Hund', 'Katze'])

In [32]:
d.keys()

dict_keys(['fox', 'dog', 'cat'])

In [36]:
d.get('dog')

'Hund'

In [30]:
# Update 
d['cat'] = 'Katze'
d

{'fox': 'Fuchs', 'dog': 'Hund', 'cat': 'Katze'}

In [33]:
'fox' in d

True

In [35]:
d.setdefault('fish',0)
d

{'fox': 'Fuchs', 'dog': 'Hund', 'cat': 'Katze', 'fish': 0}

In [37]:
len(d)

4

In [40]:
d['Katze']

KeyError: 'Katze'